/* styles for the Civic Internet Engine */
html, body{
	width: 100%;
	height: 100%;
	background: #1F0A0D;
	background-image:url('images/1024px-VeganRallyEvolve.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	overflow: hidden;
	font: 1.2em 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	margin: 0px;
	padding: 0px;
				 		
}

#gradientDiv{
		width: 100%;
		height:0px; 		
		background-image: -webkit-radial-gradient(center, #000, transparent);		 
	
}

#questionDiv{
			
			margin-top: 0px;
			margin-left: 0px;
			width: 800px;
			height: 400px;
			background: transparent;
			text-align: center;		

}

#enterDiv{
	
	padding-top: 100px;
}

.enterButton{
	width: 300px;
	height: 50px;
	background: #CC0000;
	color: #fff;
	font-weight: 200;
	font-size: 36px;
	text-align: center;
	border-radius: 10px;
	border: 3px outset #CC0000;
	margin: 30px auto 0 auto; 
	padding-top: 5px;
	cursor: pointer;
		
}

.enterButton:hover{
	background: #FF3300;
	color: #830000;  
	border: 3px inset #CC0000;
}

#questionText{
	color: #fff;
	text-shadow: 4px 4px 6px #000;
	font-size: 48px; 
	font-weight: 200;
	font-family: "Arvo", serif;
	
}

.surveyDiv{
	width:50%;
	min-width: 800px;
	height: 400px;
	background: #304256;
	background-image: url("images/paper-bg.jpg");
	background-size: cover;
	border: 5px double #969075;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.surveyQuestion{
	margin: 40px;
	font-size: 32px;
	color: #1F0A0D;		
}

.surveyButton{
	background: #CCC49F;
	border: 3px outset #CCC49F;
	margin-top: 10px;
	border-radius: 5px;
	font-size: 32px;
	font-weight: bold; 
	text-transform: uppercase; 
	padding: 10px; 
	margin-left: auto;
	margin-right: auto;
	color: #1F5129;
	letter-spacing: 2px;
	cursor: pointer; 	
}

.surveyButton:hover{
	background: #1F5129;
	color: #fff;
	border: 3px inset #CCC49F;  
}

.buttonDiv{
	padding-bottom: 20px;
	display:inline-block;
}

  #selectable .ui-selecting { background: #1F5129; }
  #selectable .ui-selected { background: #1F5129; 
  							color: #fff; 
  							}
  #selectable { list-style-type: none; 
  				margin: 0; 
  				padding: 0; 
  				width: 450px; 
  			  }
  #selectable li { 	
  					background: #CCC49F;
					border: 3px outset #CCC49F;
					margin-top: 10px;
					border-radius: 5px;
					font-size: 32px;
					font-weight: bold; 
					text-transform: uppercase; 
					padding: 10px;
					color: #1F5129;
					letter-spacing: 2px;
					cursor: pointer; 
					width: 200px;
					float: left;
			    }





