/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

/* styles for the Civic Internet Engine */
html, body{
  font-family: 'PT Sans', Arial, sans-serif;
  
}

#bgSlideshow{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  height: auto;
  background: #1F0A0D;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
            
}

#bgSlideshow > div{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#bgSlideshow > div > img{
  width: 100%;
  height: auto;
}


#darkDiv{
    position: absolute;
    top: 0px;
    left: 0px; 
    width: 100%;
    height: 600px; 
    @include background(radial-gradient(center, #111, transparent));//#1F0a0d
    z-index: 5;   
  
}

#questionDiv{     
      margin-top: 0px;
      margin-left: 0px;
      width: 800px;
      height: 400px;
      background: transparent;
      text-align: center; 
      z-index: 5; 
}

#enterDiv{
  padding-top: 100px;
}

.enterButton, .findButton{
  width: 300px;
  height: 50px;
  @include background(linear-gradient(top, #FF3300, #CC0000));
  color: #fff;
  font-weight: 200;
  font-size: 36px;
  text-align: center;
  border-radius: 10px;
  border: 3px outset #CC0000;
  margin: 30px auto 0 auto; 
  padding-top: 5px;
  cursor: pointer;
    
}

.enterButton:hover, .findButton:hover{
  background: #FF3300;
  color: #830000;  
  border: 3px inset #CC0000;
}

#questionText{
  color: #fff;
  text-shadow: 2px 5px 2px #000;
  font-size: 48px; 
  font-weight: 300;
  font-family: "Arvo", serif;
  
}

.surveyDiv{
  width:50%;
  min-width: 800px;
  height: 400px;
  background: #304256;
  background-image: url("http://localhost/src/internetcivicengine/images/paper-bg.jpg");
  background-size: cover;
  border: 5px double #969075;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.surveyQuestion{
  margin: 30px 0 15px 0;
  font-size: 32px;
  color: #1F0A0D; 
  font-weight: 400; 
}

.surveyButton{
  @include background(linear-gradient(top, #F8F7F3, #CCC49F));
  border: 3px outset #CCC49F;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 32px; 
  text-transform: uppercase; 
  padding: 7px 10px 7px 10px; 
  margin-left: auto;
  margin-right: auto;
  color: #1F5129;
  letter-spacing: 2px;
  cursor: pointer; 
  font-weight: 400; 
}

.surveyButton:hover{
  background: #1F5129;
  color: #fff;
  border: 3px inset #CCC49F;  
}

.buttonDiv{
  padding-bottom: 20px;
  display:inline-block;
}

.sideDiv{
  float:left;
  width: 300px;
  padding: 0 10px 30px 0;
  
}

input[type=text]{
  border-radius: 10px;
  border: 3px inset #CCC49F;
  background: #F8F7F3;
  -moz-box-shadow: inset 2px 2px 3px;
  -webkit-box-shadow: inset 2px 2px 3px; 
  box-shadow:  inset 2px 2px 3px;
  width: 300px;
  font-size: 24px;
  font-style: italic; 
  padding: 10px;
  color: #1F5129;
}

input:focus{
  outline: none;
  text-align: center;
}

.activeSlide{
  z-index: 3;
}
